@font-face {
  font-family: "inventionregular";
  src: url("~@/assets/fonts/invention_rg-webfont.woff2") format("woff2"), url("~@/assets/fonts/invention_rg-webfont.woff") format("woff"), url("~@/assets/fonts/invention_rg-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inventionbold";
  src: url("~@/assets/fonts/invention_bd-webfont.woff2") format("woff2"), url("~@/assets/fonts/invention_bd-webfont.woff") format("woff"), url("~@/assets/fonts/invention_bd-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inventionitalic";
  src: url("~@/assets/fonts/invention_it-webfont.woff2") format("woff2"), url("~@/assets/fonts/invention_it-webfont.woff") format("woff"), url("~@/assets/fonts/invention_it-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inventionlight";
  src: url("~@/assets/fonts/invention_lt-webfont.woff2") format("woff2"), url("~@/assets/fonts/invention_lt-webfont.woff") format("woff"), url("~@/assets/fonts/invention_lt-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Invention";
  src: url("~@/assets/fonts/invention_lt-webfont.woff2") format("woff2"), url("~@/assets/fonts/invention_lt-webfont.woff") format("woff"), url("~@/assets/fonts/invention_lt-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/*Colors*/
:root {
  --primary-color: #0c2340;
  --secondary-color: #00857c;
  --tertiary-color: #6eceb2;
  --quarternary-color: #f7f7f7;
  --accent-1-color: #bfed33;
  --accent-2-color: #fff063;
  --accent-3-color: #69b8f7;
  --accent-4-color: #688ce8;
  --accent-5-color: #5450e4;
  --primary-text-color: var(--primary-color);
}

body {
  font-family: 'inventionregular', arial, sans-serif;
  color: #0C2340;
}

.bg-teal {
  background-color: teal;
}

.bg-navy {
  background-color: #0C2340;
}

.bg-ltgray {
  background-color: #f7f7f7;
}

.text-gray {
  color: #747474;
}

.text-teal {
  color: #00857C;
}

.text-white {
  color: #fff;
}

.hidden {
  display: none;
}

h1 {
  font-size: 3.2rem;
  font-family: 'inventionlight';
  color: #0C2340;
  line-height: normal;
}

h1.innerpage {
  font-size: 2.4rem;
}

h2 {
  font-family: 'inventionlight';
  font-size: 2.4rem;
}

h3 {
  font-family: 'inventionlight';
  font-size: 1.55rem;
}

a {
  text-decoration: none;
}

a.content-link {
  color: #00857C;
}

a.content-link:hover {
  color: #005C55;
}

.content-link {
  color: #00857C;
}

p, ul {
  font-size: 1.1rem;
  font-family: 'inventionlight';
}

.bold, strong {
  font-family: 'inventionbold';
}

.arrow-btn {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  height: 100px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.arrow-btn span {
  width: 90%;
}

.arrow-btn:hover {
  background-color: #005C55;
  color: #fff;
}

.arrow-btn::after {
  content: "";
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 1px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  height: 15px;
  width: 15px;
  margin-left: 20px;
  float: right;
}

.hollow-btn-white {
  color: #fff;
  font-size: 1.5rem;
  font-family: 'inventionlight';
  border: 1px solid #fff;
  padding: .5rem 1rem;
  display: block;
  text-align: center;
}

.hollow-btn-white:hover {
  background-color: #fff;
  color: #00857C;
}

.toggle-link:hover {
  color: #005C55;
}

.toggle-link[aria-expanded="false"]::after {
  content: "";
  border: solid #00857C;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  height: 6px;
  width: 6px;
  margin-left: 5px;
  position: relative;
  top: -3px;
}

.toggle-link[aria-expanded="false"]:hover {
  color: #005C55;
}

.toggle-link[aria-expanded="true"]:not(.collapsed)::after {
  content: "";
  border: solid #00857C;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 1px;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  height: 6px;
  width: 6px;
  margin-left: 5px;
  position: relative;
  top: -3px;
}

.toggle-link[aria-expanded="true"]:hover {
  color: #005C55;
}

/*******Top Nav*****/
.navbar a {
  font-weight: bold;
  color: #fff;
}

.navbar a.nav-link {
  font-size: 1.1rem;
  font-family: 'inventionlight';
}

.navbar a.nav-link:hover {
  color: #fff;
}

.navbar a.router-link-exact-active {
  color: #fff;
  border-bottom: 3px solid #6ECEB2;
  font-family: 'inventionbold';
}

.navbar-brand {
  color: #fff;
  font-size: 2.125rem;
  font-family: 'inventionlight';
}

.navbar-toggler-icon::before {
  content: 'MENU';
  color: #fff;
}

/********HOME********/
.hm_banner {
  background-image: url(../images/home-banner.jpg);
  background-size: cover;
  height: 400px;
  background-position: center;
}

.hm_banner2 {
  background-image: url(../images/home-banner2.jpg);
  background-size: cover;
  height: 400px;
  background-position: top;
}

.conditions {
  font-family: 'inventionregular';
}

.conditionsulli {
  font-family: "inventionlight";
}

/********GRANT TYPE********/
.grant_banner {
  background-image: url(../images/grant-type-banner1.png);
  background-size: cover;
  height: 400px;
  background-position: top center;
}

.grant_banner2 {
  background-image: url(../images/grant-type-banner2.png);
  background-size: cover;
  height: 400px;
  background-position: top center;
}

/********LEARN ABOUT PROCESS********/
.learn-process-banner {
  background-image: url(../images/learn-process-banner.jpg);
  background-size: cover;
  height: 400px;
  background-position: top center;
}

.icon-col {
  background-color: #00857C;
  padding: 1.75rem 1rem;
}

.icon-col img {
  display: block;
  margin: 0 auto;
}

.grant-process-step {
  background-color: #f7f7f7;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'inventionbold';
}

.step .step-num {
  padding: 0.25rem 0.65rem;
  background-color: #00857C;
  color: #fff;
  font-size: .9rem;
  margin-right: 10px;
  font-family: 'inventionregular';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 30px;
}

.minus-plus-bullets ul {
  list-style-type: none;
  margin: 0;
}

.minus-plus-bullets ul li {
  text-indent: -20px;
}

.minus-plus-bullets ul li::before {
  content: "-";
  text-indent: -20px;
  margin-right: 10px;
}

/*********HELPFUL LINKS*********/
.helpful-links-banner {
  background-image: url(../images/helpful-info-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

/*******Accordion*****/
.accordion-item:last-of-type .accordion-collapse, .accordion-item, .accordion-item:first-of-type, .accordion-item:last-of-type {
  border-radius: 0;
  border-color: #0C2340;
}

.accordion-button:not(.collapsed)::after {
  content: "";
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 1px;
  height: 10px;
  width: 10px;
  margin-left: 20px;
  float: right;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  background-image: unset;
  margin-top: 5px;
}

.accordion-button::after {
  content: "";
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 1px;
  height: 10px;
  width: 10px;
  margin-left: 20px;
  margin-top: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-image: unset;
  float: right;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 0;
}

.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.accordion-button {
  font-size: 1.5rem;
}

.help-link-list li {
  margin-bottom: 1rem;
}

.help-link-list a {
  color: #00857C;
}

/*******FAQS Accordion*****/
/*ITEM*/
.accordion__item {
  cursor: pointer;
  padding: 10px 20px 10px 40px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
}

.accordion__trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion-enter-active,
.accordion-leave-active {
  will-change: height, opacity;
  -webkit-transition: height 0.3s ease, opacity 0.3s ease;
  transition: height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

.accordion-enter,
.accordion-leave-to {
  height: 0 !important;
  opacity: 0;
}

.accordion {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion__item:last-child {
  border-bottom: none;
}

/*******Footer*****/
.foot-nav a {
  color: #0C2340;
  font-size: 1rem;
  text-decoration: none;
}

.copyright-info p {
  font-size: .8rem;
  font-family: 'inventionregular';
}

.foot-logo {
  max-width: 200px;
}

@media (min-width: 992px) {
  .w-lg-75 {
    width: 75%;
  }
}
/*# sourceMappingURL=styles.css.map */